# Node
node_modules/
.npm/
.pnpm-store/

# Next.js
.next/
out/

# Build / logs
coverage/
dist/
*.log

# Env
.env
.env.*
!.env.example

# Prisma generated client
src/generated/prisma/

# DB
*.db
*.db-journal

# OS / editor
.DS_Store
.vscode/
.idea/
